<!DOCTYPE html> <!-- 1 -->
<html lang="ro"> <!-- /1 -->
    <head>
        <!-- 2 -->
        <title>NewVision</title>
        <meta charset="utf-8">
        <meta name="keywords" content="ochelari,rame,lentile, lentile de contact, vedere"><!---->
        <meta name="description" content="Magazin online ochelari de vedere, lentile de contact si ochelari de soare la cele mai mici preturi. Ochelari de firma, produse originale si de calitate."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        <%-include("../fragmente/head.ejs") %>
    </head>
    <body>
        <%-include("../fragmente/header.ejs") %>
        <div id="link">
            <div id="triunghi"><a href="#">&#5123</a></div>
            <div id="text">Link top</div>
        </div>
        <main>
            <div id="grid-pagina">
                <div id="chestie-2">
                    <br><br><br><br><br>
<h2>Despre noi</h2>
<div>Suntem este un brand 100% românesc, imaginat cu pasiune și încredere în posibilitatea de a oferi o gamă completă de produse și soluții de protecție, corecție și îngrijire a vederii. Povestea începe acum cativa ani. Un mic shop online de lentile de contact colorate devine în scurt timp cel mai apreciat magazin de optică din România. 
    Nu suntem doar un magazin online și o rețea națională de magazine, ci un loc în care surprindem evoluția felului în care poate fi văzută lumea, impunând excelența în fiecare acțiune pe care o întreprindem.</div>
                </div>
            </div>
        </main>
        <%-include("../fragmente/footer.ejs") %>

    </body>
</html>
       