<footer>
  
    <address class="link-footer">
        <a href="tel:+40784553178">Numar telefon: +40784553178</a>
        <br>
        <a href="https://goo.gl/maps/hyDTEoD9Pdnbtiip9" target="_blank">
            Unde ne gasesti?</a>
        <br>   
        <a href = "mailto:cristinaenciu14@gmail.com">Mail: cristinaenciu14@gmail.com</a>
        <br>
        <a href="https://wa.me/0784552178" target="_blank">Ne gasesti si pe Whatsapp!</a>
    </address>
    <p>Acest site a fost creat la data de <time datetime="2022-10-16 23:00">16 octombrie 2022</time>.</p>
    
    <small>NewVision&copy;</small>
</footer>